.formulario{
    background-color:brown;
   
    height: 60vh;
}
.formulario2{
    background-color:rgb(12, 38, 105);
   
    height: 60vh;
}
.formulario3{
    background-color:rgb(152, 187, 16);
   
    height: 60vh;
}